.body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}

.btn{
    text-align: center;
}
.btn1{
    color: #fff;
    background-color: #C2333F;
    width: 100px;
    height: 60px;
}

.btn2{
    color: #fff;
    background-color: #527ED7;
    width: 100px;
    height: 60px;
}
.btn3{
    color: #fff;
    background-color:#E7B96E;
    width: 100px;
    height: 60px;
}

.kouka{
    animation-name: fadeInAnime;
animation-fill-mode:backwards;
animation-duration:3s;
animation-iteration-count:infinite;
animation-timing-function:ease;
animation-delay: 0.5s;
animation-direction:normal;
}

@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}